<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <script>$(document).ready(function () {
      $('.loginModal').modal('show');
      $('[data-toggle="tooltip"]').tooltip(); 
    });
    </script>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
  <div class="modal loginModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"> <span class="fa fa-lock fa-padding"></span>Welcome! </h2>
        </div>
        <div class="modal-body">
          <a href="/login" class="btn btn-success"><span class="fa fa-play fa-padding"></span> Play</a>
          <a href="/login" class="btn btn-info btn-danger" data-toggle="tooltip" data-placement="bottom" title="Log in with google plus and get things"><span class="fa fa-google-plus fa-padding"></span> Log in and Play</a>
          <a href="/login" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Log in with google plus and get stuff"><span class="fa fa-facebook fa-padding"></span> Log in and Play</a>
        </div>
        <div class="modal-footer">
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</body>
</html>